<table>
  <thead>
    <tr>
      <th rowspan="2">과목</th>
      <th rowspan="2">중간<br>점수</th>
      <th rowspan="2">수행<br>점수</th>
      <th rowspan="2">중간<br>계수</th>
      <th rowspan="2">기말<br>계수</th>
      <th colspan="5">기말 최소 점수</th>
      <th rowspan="2">삭제</th>
    </tr>
    <tr>
      <th>A+</th>
      <th>A0</th>
      <th>A-</th>
      <th>B+</th>
      <th>B0</th>
      <th>B-</th>
      <th>C+</th>
    </tr>
  </thead>
  <tbody id="subjectBody">
    <!-- JS로 과목 행이 채워집니다 -->
  </tbody>
</table>
